<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alvarez - Midterms</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <div class="hero">
            <nav>
                <div class="nav-container">
                    <img alt="Logo" src="https://ik.imagekit.io/efpqj5mis/logo-aki-Copy_Uzj8W4PrW.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1669130838381" class="logo">
                    <i class="fas fa-bars burger"></i>
                </div>
            </nav>

            <div class="hero-container">
                <div class="hero-text">
                    <div class="typewriter-container">
                        <div class="typewriter">
                            Hello world!
                        </div>
                    </div>

                    <h1>I am Alexis Ken</h1>
                    <h2>a full stack web developer</h2>
                </div>

                <img src="https://ik.imagekit.io/efpqj5mis/me_3cDWPxUPm.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669130838336" alt="Alexis Ken" class="hero-image">
            </div>

            <div class="more-container" id="more">
                <p class="more-text" id="more-text">Read more</p>
                <div class="more-line" id="more-line"></div>
            </div>

            <div class="hero-line"></div>
        </div></div>
    </section>

    <section>
        <div class="profile-slider" id="slider">
            <img src="https://ik.imagekit.io/efpqj5mis/icons8-arrow-pointing-left-96__iB1gXCoz.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669222452620" alt="arrow" class="arrow" id="arrow">
            <div class="profile-container">
                <h2 class="profile-label">Profile</h2>
                <p>Apo ni Lola Baby at ni Lolo Enteng</p>

                <div class="profile-grid">
                    <img src="https://ik.imagekit.io/efpqj5mis/Profile_zmygRTi7n.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669130838306" alt="Profile Image" class="profile-image">
                    <div class="profile-about">
                        <p class="about">
                            I’m a CvSU student, studying BS Computer Science. I think web development is fun to learn and I want to expand my knowledge on designing. I also want to train my creativity. I am doing this website for our midterms. Hehehe
                        </p>

                        <div class="name details">
                            <p><b>Name:</b></p>
                            <p>Alexis Ken Alvarez</p>
                        </div>
                        
                        <div class="course details">
                            <p><b>Course and Section:</b></p>
                            <p>BSCS 3-1</p>
                        </div>

                        <div class="birthdate details">
                            <p><b>Birthdate:</b></p>
                            <p>October 05, 2002</p>
                        </div>

                        <div class="latest-project details">
                            <p><b>Latest Project:</b></p>
                            <a href="https://lista-ph.netlify.app/" target="_blank">https://lista-ph.netlify.app/</a>
                        </div>

                        <ul class="ul">
                            <li class="li"><a href="https://www.linkedin.com/in/alexiskenalvarez/" target="_blank"><img src="https://ik.imagekit.io/efpqj5mis/Icons/010-linkedin_Hh_OXzBjU.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1669220832431" alt="linkedin"></a></li>
                            <li class="li"><a href="https://www.instagram.com/alexiskenalvarez/" target="_blank"><img src="https://ik.imagekit.io/efpqj5mis/Icons/011-instagram_AqPHJM2GB.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1669220832315" alt="instagram"></a></li>
                            <li class="li"><a href="https://www.facebook.com/alvarez.aki/" target="_blank"><img src="https://ik.imagekit.io/efpqj5mis/Icons/001-facebook_HbzwkhVZw.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1669220832413" alt="facebook"></a></li>
                            <li class="li"><a href="https://github.com/AlexisKenAlvarez" target="_blank"><img src="https://ik.imagekit.io/efpqj5mis/Icons/GitHub-Mark-64px_2_03VvMEnUu.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1669220832336" alt="github"></a></li>


                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/ScrollTrigger.min.js"></script>
    <script src="/script/index.js"></script>
</body>
</html>